@import url('https://r.search.yahoo.com/_ylt=AwrKEqOHBuZi4A0iliC7HAx.;_ylu=Y29sbwNzZzMEcG9zAzEEdnRpZAMEc2VjA3Ny/RV=2/RE=1659270920/RO=10/RU=https%3a%2f%2fnewbedev.com%2fimport-url-https-fonts-googleapis-com-css2-family-roboto-display-swap-code-example/RK=2/RS=q0Tk9rVljw6GzynPSQgl3MkPqQE-');
*{
    margin: 200;
    padding: 100;
    box-sizing: border-box;
    font-family: inherit;
    
    
   
}

body{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 50%;
    width: 95%;
    margin-top: 150%;
    background: linear-gradient(45deg,#006bc6,#1ecafc);
    
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 50%;
    margin-bottom: 50%;
}
.container h2{ 
    position: absolute;
    color: #fff;
    font-size: 1.75em;
    font-weight: 500;
    padding-top: 33%;
    margin-bottom: 80%;
} 
.loader{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.25);
    filter: url(#Gooey);
}  
.loader span{
    position: absolute;
    left: 0;
    transform-origin: 150px;
    width: 60px;
    height: 60px;   
    background: #fff;
    border-radius: 50%;
    animation: animate 5s ease-in-out infinite;
    animation-delay: calc(0.15s * var(--i));
}
@keyframes animate
{ 0%,10%
 
{
  width: 100px;
  height: 100px;
  transform: rotate(0deg) translateX(120px);    
}
40%,70%{
    width: 40px;
    height: 40px;
    transform:                                                                                                                                                                                                                   rotate(calc(360deg / 8 * var(--i)));
    width: 40px;
    height: 40px;
    transform: rotate(calc(360deg / 8 * var(--i)));
    translateX(120px);
    box-shadow: 0 0 0 10px #fff;   
}
    90%,100%
{
    width: 100px;
    height: 100px;
    transform: rotate(0deg) 
    translateX(120px); width: 40px;
    height: 40px;
    transform: rotate(0deg) translateX(120px);
}
}
svg{
    width:0;
    height:0;
}








